* {
  box-sizing: border-box;
}

:root {
  --color-colorbtn: #2F2F25;
  --color-offWhite: #F9F7EC;
  --color-offBlack: #22221B;
  --color-purple: #8E64AA;
  --color-darkPurple: #43324E;
  --color-white: #FFF;

  /* spacing */
  --horizontal-section-padding-top: 20px;
  --horizontal-section-padding-bottom: 20px;

  --horizontal-section-center-line-gap: 20px;
  --horizontal-section-history-item-gap: 40px;
}

.section-container {
  width: 100%;
  max-width: 1356px;
  padding-right: 42px;
  padding-left: 42px;
  margin: 0 auto;
}

.primary-btn {
  border-radius: 4px;
  background: var(--color-purple);
  display: flex;
  height: 48px;
  padding: 6px 18px;
  align-items: center;
  gap: 10px;

  color: var(--color-white);
  font-family: "Acherus Grotesque";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}

.second-part-body {
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox=\'0 0 1440 4039\' xmlns=\'http://www.w3.org/2000/svg\' preserveAspectRatio=\'none\'><g transform=\'matrix(121.4 777.6 -193.37 756.52 595.15 2354.9)\' opacity=\'1\'><rect height=\'45.501\' width=\'73.484\' fill=\'url(%23grad)\' id=\'quad\' shape-rendering=\'crispEdges\'/><use href=\'%23quad\' transform=\'scale(1 -1)\'/><use href=\'%23quad\' transform=\'scale(-1 1)\'/><use href=\'%23quad\' transform=\'scale(-1 -1)\'/></g><defs><linearGradient id=\'grad\' gradientUnits=\'userSpaceOnUse\' x2=\'5\' y2=\'5\'><stop stop-color=\'rgba(247,157,132,1)\' offset=\'0\'/><stop stop-color=\'rgba(244,128,102,1)\' offset=\'0.27885\'/><stop stop-color=\'rgba(193,114,136,1)\' offset=\'0.44594\'/><stop stop-color=\'rgba(142,100,170,1)\' offset=\'0.61304\'/><stop stop-color=\'rgba(140,155,189,1)\' offset=\'0.73733\'/><stop stop-color=\'rgba(138,210,207,1)\' offset=\'0.86161\'/></linearGradient></defs></svg>');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wrapper {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 15px;
  flex-shrink: 0;
  min-width: 150px;
}

.box:nth-child(even) {
  margin-top: 30px;
}

.box__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card {
  min-width: 325.35px;
  min-height: 323.47px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); */
  pointer-events: auto;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
  backface-visibility: hidden;
  transform-origin: center center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.show-overflow {
  overflow: visible;
}

/* ***********HORIZONTAL SECTION START********* */
/* TODO: overflow-x: hidden */
.horizontal-section-container {
  overflow-x: hidden;
}

.horizontal-section {
  background-image: url(./assets/vector/horizontal-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: fit-content;
  max-height: 820px;
  height: 100vh;
  flex-shrink: 0;
  padding-top: var(--horizontal-section-padding-top);
  padding-bottom: var(--horizontal-section-padding-bottom);
  overflow-x: hidden;
}

.horizontal-section .description {
  align-self: stretch;
  color: var(--color-offBlack);
  font-size: 16px;
  font-family: Acherus Grotesque;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word
}

.horizontal-section .title {
  width: 545.45px;
  color: var(--color-offBlack);
  font-size: 36px;
  font-family: Acherus Grotesque;
  font-weight: 600;
  line-height: 44px;
  word-wrap: break-word
}

.timeline-title-1 {
  color: var(--color-darkPurple);
  font-size: 120px;
  font-family: Acherus Grotesque;
  font-weight: 500;
  white-space: nowrap;
  word-wrap: break-word;
}

.timeline-title-2 {
  color: var(--color-purple);
  font-size: 120px;
  font-family: Acherus Grotesque;
  font-weight: 500;
  white-space: nowrap;
  word-wrap: break-word;
  transform: translateX(113px);
}

.timeline-title-3 {
  color: var(--color-darkPurple);
  font-family: Acherus Grotesque;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
}

.history-item.have-figure .timeline-title-3 {
  white-space: normal;
}

.history-item-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 30px;
  position: relative;
}

.history-item .history-item-content .description,
.history-item .additional-content-col .description,
.history-item .additional-content-row .description {
  width: 290px;
}

.history-item-content.have-figure {
  width: 100%;
}



.history-item-content .indicator {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 30px;
  border-left: 1px solid var(--color-purple);
  border-style: dashed;
  height: 100%;
}

.history-item-content .indicator::before,
.history-item-content .indicator::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-purple);
}

.history-item-content::before::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-purple);
}

.history-item:nth-child(even) .history-item-content .indicator {
  border-top: 1px solid var(--color-purple);
  border-style: dashed;
  transform: translateY(14px);
  height: calc(100% + var(--horizontal-section-center-line-gap) - 14px);
}

.history-item:nth-child(odd) .history-item-content .indicator {
  border-bottom: 1px solid var(--color-purple);
  border-style: dashed;
  transform: translateY(-23px);
  height: calc(var(--horizontal-section-center-line-gap) + var(--horizontal-section-history-item-gap) + 20px);
}

.history-item:nth-child(even) .history-item-content .indicator::before {
  top: 0px;
  right: 0;
  transform: translateY(-50%);
}

.history-item:nth-child(even) .history-item-content .indicator::after {
  bottom: -3px;
  transform: translateX(-50%);
}

.history-item:nth-child(odd) .history-item-content .indicator::before {
  top: 0px;
  left: 0;
  transform: translateX(-50%);
}

.history-item:nth-child(odd) .history-item-content .indicator::after {
  bottom: -3px;
  right: 0;
  /* transform: translateX(50%); */
}


.timeline-section .history-area {
  display: flex;
  height: calc(50vh - var(--horizontal-section-padding-top) - var(--horizontal-section-center-line-gap));
}

.history-area .history-item {
  height: fit-content;
}

.history-item.have-figure {
  text-align: center;
  margin: 0 40px;
}

.history-item-content.have-figure {
  flex-direction: row;
}

.history-area .history-item:nth-child(even) {
  transform: translateY(calc(-100% - var(--horizontal-section-padding-top) - var(--horizontal-section-center-line-gap)));
}

.history-area .history-item:nth-child(even) .history-item-content {
  padding-bottom: var(--horizontal-section-history-item-gap);
}

.history-area .history-item:nth-child(odd) .history-item-content {
  padding-top: var(--horizontal-section-history-item-gap);
}

.history-item.have-additional-content {
  display: flex;
}

.history-item.have-additional-content figure {
  max-width: 192px;
}

.history-item.have-additional-content.row-content {
  width: 500px;
}

.history-item.have-additional-content .additional-content-col {
  display: flex;
  flex-direction: column;
}

.history-item.have-additional-content .additional-content-row {
  display: flex;
  flex-direction: row;
  align-items: end;
}


/* ***********HORIZONTAL SECTION END********* */